<footer class="bg-blue text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h6 class="text-uppercase mb-3">Company</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="#">What We Do</a></li>
                    <li><a class="footer-link" href="#">Available Services</a></li>
                    <li><a class="footer-link" href="#">Latest Posts</a></li>
                    <li><a class="footer-link" href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Social Media</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="#">Twitter</a></li>
                    <li><a class="footer-link" href="#">Instagram</a></li>
                    <li><a class="footer-link" href="#">Tumblr</a></li>
                    <li><a class="footer-link" href="#">Pinterest</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Contact</h6>
                <ul class="list-unstyled mb-0">

                    <li>
                        <a class="footer-link" href="mailto:SAKSHAMDJ2@GMAIL.COM" target="_self">SAKSHAMDJ2@GMAIL.COM</a>
                    </li>
                    <li><span class="footer-text">KATHMANDU, NEPAL</span></li>
                    <li><span class="footer-text">+9779808363580</span></li>
                </ul>

            </div>

        </div>
</footer>